.navbar {
    @include flex;

    flex-wrap: nowrap;
    height: 60px;
    margin: 0;
    padding: 8px 16px;
    border: none;
    box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);

    .navbar-brand {
        color: $main;

        img {
            height: 30px;
        }
    }

    .navbar-collapse {
        .nav-link {
            display: inline-block;
            color: $main;
        }
    }
}
