.user-designs-container {
    width: 80%;
    padding: 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 250px;
    grid-gap: 20px;
}

.nav-item:hover {
    background: rgba(0, 0, 0, 0.12);
    transition: 0.5s;
}
