$color1: #b1c0c6;
$color2: #eeeeee;
$color3: #d3dde2;

/*Animate cogs*/
#cog1,
#cog2,
#cog3 {
    animation: spin 4s linear infinite;
    transform-origin: center;
    transform-box: fill-box;
    animation-delay: 0.6s;
}

#cog1 {
    fill: $color1;
}

#cog2 {
    animation: spinback 4s linear infinite;
    animation-delay: 0.6s;
    fill: $color2;
}

#cog3 {
    fill: $color3;
}

@-webkit-keyframes pop {
    0% {
        transform: scale(0);
    }
    90% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
@-webkit-keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
@-webkit-keyframes spinback {
    100% {
        transform: rotate(-360deg);
    }
}

.error-container {
    text-align: center;
}
.animate-404 {
    margin: 80px auto 0;
    border-radius: 50%;
    overflow: hidden;
    width: 340px;
    height: 340px;
    position: relative;
    background-color: #f9f9f9;
    box-shadow: inset 0px 0px 5px 0px rgba(50, 50, 50, 0.1);

    & > svg {
        animation: pop 0.4s ease-in;
        width: 400px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-47%, -50%);
    }
}

.error-code {
    font-size: 100px;
    color: $color1;
    line-height: 1em;
    margin-top: 30px;
}
.error-desc {
    font-size: 18px;
    color: $color3;
    margin-top: 20px;
}
