// Basic
$white:                                         #FFF;
$black:                                         #000;
$transparent:                                   rgba(0, 0, 0, 0);

// Gray scale
$dark:                                          #262626;
$gray-dark:                                     #838383;
$gray:                                          #949494;
$gray-light:                                    #DBDBDB;
$gray-lighter:                                  #EDEDED;
$gray-pale:                                     #F7F7F7;

// Theme
$main:                                          #0084ff;
$red-light:                                     #FF685D;
$orange:                                        #F5972A;
$orange-dark:                                   #B8701B;
$orange-pale:                                   #FCE0BF;
$green:                                         #00C583;
$green-light:                                   #00D18B;
$green-dark:                                    #00AF75;
$green-pale:                                    #E5F9F3;
$yellow-dark:                                   #AB810A;
$yellow-pale:                                   #FFEFB4;

// Form
$primary-alert:                                 $red-light;
$primary-alert-text:                            $white;

$secondary-alert:                               $orange;
$secondary-alert-text:                          $dark;

$danger-alert:                                  $red-light;
$danger-alert-text:                             $white;

$success-alert:                                 $green-pale;
$success-alert-text:                            $green-dark;

$warning-alert:                                 $yellow-pale;
$warning-alert-text:                            $yellow-dark;

$info-alert:                                    $orange-pale;
$info-alert-text:                               $orange-dark;

$disabled:                                      $gray-light;
$disabled-text:                                 $gray;

$input-gray:                                    $gray-dark;
$placeholder-gray:                              $gray;

$select-background-gray:                        $gray-lighter;
$select-hover-gray:                             $gray-light;
