// Default breakpoints for all elements and for media query min-width
$screen-xs:                                 480px !default;
$screen-sm:                                 768px !default;
$screen-md:                                 1024px !default;

// For media query max-width to avoid display errors on the exact point
$media-max-screen-xs:                                 $screen-xs - 1px !default;
$media-max-screen-sm:                                 $screen-sm - 1px !default;
$media-max-screen-md:                                 $screen-md - 1px !default;

$body-margin: 16px;

// Page layout
html, body {
    background-color: $white;
    width: 100%;
    font-family: $text-font-family;
    font-size: $font-size-base;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}

ul {
    margin: 0;
}

.hidden {
    display: none;
}

@media screen and (max-width: $media-max-screen-sm) {
    .center-mobile {
        text-align: center;
    }
}

.particles-canvas {
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    height: calc(100vh - 64px);
}