// Font family
@import 'https://fonts.googleapis.com/css?family=Lato:400,700,900|Montserrat:700,800';

// Font size
$font-size-basic: 16px;

// Font weight
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;

// Line height
$base-line-height: 26px;
$small-line-height: 22px;

// Font family
$title-font-family: 'Montserrat', Arial, Helvetica, sans-serif;
$text-font-family: 'Lato', Arial, Helvetica, sans-serif;

// Mixins
@mixin title($font-size) {
    font-size: $font-size;
    font-family: $title-font-family;
    color: $orange;
}

@mixin font-description() {
    line-height: $base-line-height;
    font-size: $font-size-basic;
    font-family: $text-font-family;
}
