@import 'style/typography.scss';

.home-container {
    user-select: none;
    width: 100%;

    .first-screen-container {
        height: 100vh;
        background-image: linear-gradient(to bottom, #072143, #061c38, #07182c, #061221, #020b17);
    }

    // .construction-container {
    //     width: 100%;
    //     max-width: 666px;
    //     text-align: center;
    //     margin: 0 auto;
    //     padding: 50px 0;
    //     letter-spacing: 2px;

    //     h1 {
    //         color: #ef9e64;
    //         font-weight: $font-weight-bold;
    //     }
    // }
}
