@import 'style/mixins.scss';
@import 'style/colors.scss';
@import 'style/layout.scss';
@import 'style/typography.scss';

.navbar {
    @include flex;

    position: fixed;
    z-index: 10;
    height: 44px;
    width: 100%;
    margin: 0;
    padding: 8px 0;
    border: none;
    align-items: center;
    user-select: none;

    .navbar-brand {
        margin-left: 16px;
        text-decoration: none;
        color: $white;
        font-size: 24px;
        font-family: $title-font-family;

        img {
            height: 44px;
        }
    }

    .nav-button {
        cursor: pointer;
        outline: none;
        background: none;
        border: none;
    }

    .navbar-toggler {
        margin: 0 16px 0 auto;

        @media screen and (min-width: $screen-sm) {
            display: none;
        }

        .line {
            transition: width 0.3s;
            background: $white;
            width: 28px;
            height: 2px;
            margin: 6px;
            transition: 0.4s;
        }
    }

    .active .line1 {
        transform: rotate(-45deg) translate(-3px, 2px);
    }

    .active .line2 {
        transform: rotate(45deg) translate(-3px, -2px);
    }

    .navbar-collapse {
        @include flex;
        justify-content: flex-end;
        flex-grow: 1;
        margin-right: 16px;

        @media screen and (max-width: $media-max-screen-sm) {
            position: absolute;
            top: 60px;
            right: 0;
            flex-direction: column;
            background-color: rgba(0, 0, 0, 0.3);
            border-radius: 5px;

            &.active {
                display: none;
            }
        }

        .nav-item {
            color: $white;
            text-decoration: none;
            padding: 0 12px;

            @media screen and (max-width: $media-max-screen-sm) {
                padding: 16px 24px 16px 12px;

                &:hover {
                }
            }

            &:not(:last-child) {
                border-bottom: 2px #072143 solid;
            }
        }
    }
}
