@import 'style/mixins.scss';
@import 'style/colors.scss';
@import 'style/layout.scss';

.navbar {
    @include flex;

    position: fixed;
    z-index: 2;
    flex-wrap: nowrap;
    height: 60px;
    width: 100%;
    margin: 0;
    padding: 8px 16px;
    border: none;

    .navbar-brand {
        color: $main;

        img {
            height: 30px;
        }
    }

    .navbar-toggler {
        cursor: pointer;
        outline: 0;
        justify-content: flex-end;

        @media screen and (min-width: $screen-sm) {
            display: none;
        }

        .line {
            transition: width 0.3s;
            background: $main;
            width: 28px;
            height: 2px;
            margin: 6px;
            transition: 0.4s;
        }
    }

    .active .line1 {
        transform: rotate(-45deg) translate(-3px, 2px);
    }

    .active .line2 {
        transform: rotate(45deg) translate(-3px, -2px);
    }

    .navbar-collapse {
        display: flex;

        @media screen and (max-width: $media-max-screen-sm) {
            position: absolute;
            top: 60px;
            right: 0;
            flex-direction: column;

            &.active {
                display: none;
            }
        }

        .nav-link {
            display: inline-block;
            color: $main;
            user-select: none;

            @media screen and (max-width: $media-max-screen-sm) {
                margin-right: 20px;
            }
        }
    }
}
