// Basic
$white: #fff;
$black: #000;
$transparent: rgba(0, 0, 0, 0);

// Gray scale
$dark: #262626;
$gray-dark: #838383;
$gray: #949494;
$gray-light: #dbdbdb;
$gray-lighter: #ededed;
$gray-pale: #f7f7f7;

// Theme
// $main: #b18cec;
$main: #e3d8f5;
$red-light: #ff685d;
$orange: #f5972a;
$orange-dark: #b8701b;
$orange-pale: #fce0bf;
$green: #00c583;
$green-light: #00d18b;
$green-dark: #00af75;
$green-pale: #e5f9f3;
$yellow-dark: #ab810a;
$yellow-pale: #ffefb4;

// Form
$primary-alert: $red-light;
$primary-alert-text: $white;

$secondary-alert: $orange;
$secondary-alert-text: $dark;

$danger-alert: $red-light;
$danger-alert-text: $white;

$success-alert: $green-pale;
$success-alert-text: $green-dark;

$warning-alert: $yellow-pale;
$warning-alert-text: $yellow-dark;

$info-alert: $orange-pale;
$info-alert-text: $orange-dark;

$disabled: $gray-light;
$disabled-text: $gray;

$input-gray: $gray-dark;
$placeholder-gray: $gray;

$select-background-gray: $gray-lighter;
$select-hover-gray: $gray-light;
